
<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Trabalho 1</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

    <!-- icons -->
    <link href="icon/css/all.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Valéria Perim</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Faça uma busca" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 style="text-align:center">Usuários cadastrados</h1>
        <table class="table table-striped table-dark">
            <thead>
                <tr>

                <th scope="col">NOME</th>
                <th scope="col">ENDEREÇO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">OPÇÕES</th>
                </tr>
            </thead>
            <tbody>
            
            @foreach($crud as $c)
            <tr scope="row">
            <td>{{$c->id}}</td>

            <td>{{$c->nome}}</td>
            <td>{{$c->endereco}}</td>
            <td>{{$c->email}}</td>
            
            <td>
                <form action="/crud/{{$c->id}}/edit"  method="POST">
                        {{ csrf_field() }}
                        
                    <a href="/crud/{{$c->id}}/edit" >
                    Editar</a>
                    
                </form>
                <form action="/crud/{{$c->id}}" method="POST" id="delete{{$c->id}}" style="margin: 0px;">
                    <input type="hidden" name="_method" value="DELETE">
                    {{csrf_field()}}
                    <a href="#" onClick="document.getElementById('delete{{$c->id}}').submit();" style="padding: 5px;">Excluir</a>
                </form>
            </td>

            </tr>
            @endforeach
          </tbody>
        </table>
        
    </div>
    <a href="cadastrar.html">
        <input class="btn btn-primary" style="float:right; margin-right:13px"  type="submit" value="Adicionar novo">
    </a>

</div>
</main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
